body {
    background:rgb(197, 195, 195);
    font-family: 'Raleway', sans-serif ;
    color:#1b1919;
}
.container{
width: 900px;
margin: 0 auto;
}

.foto-principal {
    width: 200px;
    border: 2px solid #6a6767; /*shortand*/
    border-radius: 50%;
    margin:30px;
    box-shadow:0px 0px 10px rgb(181 152 152) ;
}

h1{
    margin-bottom: 0;
    letter-spacing: -1px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 40px;
   }
   
     h2{
       margin-top:0;
       font-style: italic;
       color:rgb 73 73 73 ;
       font-weight: 100;
       letter-spacing: -1px;
   }
 
   p{ 
    line-height: 25px;
    }


    .caixa{
        background-color: black;
        width: 100px;
        height: 100px;
        border: 5px solid red;
        border-radius: 8px;
        margin: 0 auto  ;

    }